*
{
  marrgin:0;
  padding:0;
}
body
{
  font-family:tahoma;
}
.hero
{
  position: absolute;
  width: 1140px;
  top:50%;
  left:50%;
  transform: translate (-50%,-50%);
}
header
{
  background-image:linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)),url(https://raw.githubusercontent.com/GabeatUNSW/CODE1230-Urban-Modeling/master/pexels-photo-457937.jpg);
  height:100vh;
  background-position: center;
  background-size: cover;
}
h1
{
  color:white;
}
