*
{
  marrgin:0;
  padding:0;
}
body
{
  font-family:tahoma;
}
.hero
{
  position: absolute;
  width: 1140px;
  top: 50%
  left: 50%;
  transform: translate (-50%,-50%)
}
header
{
  background-image:url(/polopoly_fs/1.775948!/image/pexels-photo-457937.jpg)
}
